<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js"></script>
</head>
<body>

    {{ name }}
    <br>
    {{ surname }}

    <a href="/user/logout">
        <button ><span>Logout </span></button>
    </a>

</body>
</html>